body{
	background-image:url('/images/pic10.png');
	height: 130vh; 
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}
.registration
{
	text-align: center;
	width: 400px;
	height: 550px;
	background: #2F4F4F;
	color: #fff;
	top:50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 50px;
	opacity: 0.9;
}
h1
{
	color: white;
	text-align: center;
	margin-top: -10px;
	padding: 0;
	font-size: 30px;

}

.registration input
{

	padding-right: 50px;
	height: 40px;
	font-size: 16px;
	color:white;
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	
}
.registration input[type="text"],input[type="password"]
{
	height: 40px;
	font-size: 16px;
	color:white;
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	
	
}
.registration input[type="submit"]
{

	height: 40px;
	font-size: 20px;
	color: white;
	background: navy;
	border: none;
	outline: none;
	border: 15px;

}
.registration input[type="submit"]:hover
{
	cursor: pointer;
	background:darkgreen;
	color:#333300;
}

